@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

*{
    font-family: "Open Sans", sans-serif;
}

/*body{*/
/*    background-color: black;*/
/*}*/

/*button {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    border: none;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    z-index: 10;*/
/*    color: white;*/
/*    font-size: 1.5rem;*/
/*}*/

/*button:hover {*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*}*/

/*Zustand*/
