@import "tailwindcss";


/**{*/
/*  padding: 0!important;*/
/*  margin: 0!important;*/
/*  box-sizing: border-box!important;*/
/*}*/

body{
  background-color: #0d1017;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300vh;
}

/*.box{*/
/*  width: 300px;*/
/*  height: 300px;*/
/*  !*border-radius: 100%;*!*/
/*  background-color: yellow;*/
/*}*/

.box{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 28px rgba(0,0,0, 0.2);
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-align: center;
}